<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <listener>
        <listener-class>Listener.ListenerServlet</listener-class>
    </listener>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Login_Logout.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignUpServlet</servlet-name>
        <servlet-class>SignUp.SignUpServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>Login_Logout.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assign_username_Servlet</servlet-name>
        <servlet-class>Functions.assign_username_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateServlet</servlet-name>
        <servlet-class>Update.updateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auction_Servlet</servlet-name>
        <servlet-class>Auction.Auction_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>Auction.SearchServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Auction_Image_Servlet</servlet-name>
        <servlet-class>Auction.Auction_Image_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateServlet</servlet-name>
        <servlet-class>Auction.UpdateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>Auction.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DateTimeServlet</servlet-name>
        <servlet-class>Auction.DateTimeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BidServlet</servlet-name>
        <servlet-class>Auction.BidServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Update_Rating_Servlet</servlet-name>
        <servlet-class>Messages.Update_Rating_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_Message_Servlet</servlet-name>
        <servlet-class>Messages.Create_Message_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Delete_Message_Servlet</servlet-name>
        <servlet-class>Messages.Delete_Message_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JAXB_Servlet</servlet-name>
        <servlet-class>Auction.JAXB_Servlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteImage</servlet-name>
        <servlet-class>Auction.DeleteImage</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddImageServlet</servlet-name>
        <servlet-class>Auction.AddImageServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NumberOfUsersServlet</servlet-name>
        <servlet-class>Admin.NumberOfUsersServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignUpServlet</servlet-name>
        <url-pattern>/SignUpServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assign_username_Servlet</servlet-name>
        <url-pattern>/assign_username_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateServlet</servlet-name>
        <url-pattern>/updateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auction_Servlet</servlet-name>
        <url-pattern>/Auction_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Auction_Image_Servlet</servlet-name>
        <url-pattern>/Auction_Image_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateServlet</servlet-name>
        <url-pattern>/UpdateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DateTimeServlet</servlet-name>
        <url-pattern>/DateTimeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BidServlet</servlet-name>
        <url-pattern>/BidServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Update_Rating_Servlet</servlet-name>
        <url-pattern>/Update_Rating_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_Message_Servlet</servlet-name>
        <url-pattern>/Create_Message_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Delete_Message_Servlet</servlet-name>
        <url-pattern>/Delete_Message_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JAXB_Servlet</servlet-name>
        <url-pattern>/JAXB_Servlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteImage</servlet-name>
        <url-pattern>/DeleteImage</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddImageServlet</servlet-name>
        <url-pattern>/AddImageServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NumberOfUsersServlet</servlet-name>
        <url-pattern>/NumberOfUsersServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <security-constraint>
        <display-name>SSL_secure</display-name>
        <web-resource-collection>
            <web-resource-name>Secure_app</web-resource-name>
            <description/>
            <url-pattern>/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <description/>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
</web-app>
