*{
	margin:0;
	padding:0;
}
body{
	font-family:"Trebuchet MS", "Myriad Pro", Arial, sans-serif;
	font-size:14px;
	background:#f4f4f4 url(../images/bg.gif) repeat top left;
	color:#333;
	overflow-y:scroll;
}



/* Form Style */

.column{
	width:33%;
	float:left;
}


label{
	display:block;
	padding:10px 30px 0px 30px;
	margin:10px 0px 0px 0px;
}




 fieldset.row1
{
    width:770px;
    padding:5px;
    float:left;
    border-top:1px solid #F5F5F5;
    margin-bottom:15px;
}


legend
{
    color: grey;
    padding:2px;
    margin-left: 14px;
    font-weight:bold;
    font-size: 18px;
    font-weight:100;
}

.link{
    display: block;
    clear: both;
    padding: 10px 30px;
    text-align: right;
    color: #ffa800;
    font-weight: bold;

    font-size: 16px;
}

.column a{
	color:black;
}
.column a:hover{
	color:black;
        text-decoration: none;
}
